@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    src: local(""), url("fonts/Roboto-VariableFont_wdth,wght.ttf");
}

/*
 * Normalize CSS
 */

:root {
  line-height: 1.5;
  color-scheme: light;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

*:focus-visible {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}
[hidden] {
    display: none !important;
}

/*
 * Page specific styling
 */

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

body,
html {
  height: 100%;
}

h1 {
  font-size: max(3vw, 2em);
  font-weight: bold;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.3em;
  padding: 1em 0;
}

h3 {
  font-size: 1.15em;
  padding: 1em 0;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.no-scroll {
  overflow: hidden;
}

#fullscreen-menu ul {
    list-style-type: none;
    padding-left: 20px;
}

#fullscreen-menu a {
  font-size: 2em;
}

#header-menu a:hover,
#fullscreen-menu a:hover {
  background-color: rgba(233, 233, 233, 0.5);
}

.centered-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 50px;
}

.column {
  width: 50%;
}

#outdated-browser-warning {
  padding: 1em;
  text-align: center;
  border: 2px solid red;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.25em;
  display: none;
}

#navbar {
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.submenu-toggle {
  border: none;
  background-color: white;
  cursor: pointer;
  line-height: inherit;
}

#navbar a, .submenu-toggle {
  font-size: 1.25em;
  display: block;
  float: left;
}

#navbar a:hover, .submenu-toggle:hover {
  color: gray;
}

#home a {
  font-size: 1.75em;
  line-height: 1.25em;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#menu {
  align-self: center;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#menu > li {
    padding: 10px;
}

.submenu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    padding: 20px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    margin-left: -20px;
    visibility: hidden;
    pointer-events: none;
}

.submenu-toggle:focus + .submenu,
.submenu-toggle:focus-within,
.submenu:focus-within,
#menu > li:hover > .submenu,
.submenu-toggle:focus-visible + .submenu {
    visibility: visible;
    pointer-events: auto;
}

#fullscreen-menu {
  list-style-type: none;
  padding: 20px;
}

#burger-menu {
  display: none;
}

#burger-menu div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

section {
  padding: 0 30px 30px 30px;
  scroll-margin-top: 3em;
  scroll-snap-margin-top: 3em; /* Safari uses non standard name */
}

#hero-image {
  max-width: 100%;
  max-height: 800px;
}

#hero-image > img {
  cursor: default;
}

.gallery {
  justify-content: space-around;
}

.gallery-item {
  max-height: 400px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.gallery-item-placeholder {
  width: 400px;
  height: 400px;
}

footer {
  border-top: 1px solid lightgray;
  padding: 30px;
  align-items: center;
}

footer * {
  color: lightslategray;
}

#imprint a:hover,
#imprint a:active {
  color: dimgray;
}

.fullscreen-viewer {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: white;
  display: flex;
  flex-flow: column;
}

.fullscreen-navbar {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
}

.fullscreen-button {
  border: none;
  background-color: white;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

#gallery-item-details {
  display: flex;
  padding: 10px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

#metadata {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#metadata > p {
  font-size: 1.25em;
  width: 80%;
}

#metadata * a {
  text-decoration: underline;
}

#on-view a {
  text-decoration: underline;
}

#on-view h3:not(:first-of-type) {
  margin-top: 1em;
}

#gallery-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

#go-to-previous-item,
#go-to-next-item {
  width: 5%;
  font-weight: bold;
}

#artwork-image {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
}

#about-content a {
  text-decoration: underline;
}

#about-me, #hero-text {
  font-size: 1.25em;
}

#portrait {
  max-width: 100%;
}

#portrait > img {
  cursor: default;
}

.contact-option {
  display: flex;
  align-items: center;
  padding: 10px;
}

.contact-icon {
  margin-right: 10px;
  width: 29px;
  height: 29px;
}

@media (max-width: 1024px) {
  #menu {
    display: none;
  }

  #home a {
    font-size: 1.5em;
  }

  .column {
    width: 100%;
  }

  #burger-menu {
    display: block;
    align-self: center;
    width: 35px;
    cursor: pointer;
  }

  #go-to-previous-item,
  #go-to-next-item {
    display: none;
  }

  #gallery-item-details {
    flex-wrap: wrap;
  }

  #gallery-carousel {
    justify-content: center;
    overflow: visible;
  }

  #metadata {
    width: 100%;
  }

  #metadata > p {
    padding-top: 0.5em;
    width: 100%;
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
  }

  #portrait {
    order: 1;
  }

  #about-me {
    order: 2;
  }
}

.loader-container {
  display: flex;
  width: min(90vw, 400px);
  height: min(50vh, 400px);
  align-items: center;
  justify-content: center;
  border: 1px solid #efefef;
  border-radius: 25px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation: load 1.8s infinite ease-in-out;
  animation: load 1.8s infinite ease-in-out;
}

.loader {
  color: darkorange;
  font-size: 10px;
  margin-top: -5em;
  position: relative;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
