@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
    url('./fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
    url('./fonts/open-sans-v18-latin-regular.woff') format('woff'),
    url('./fonts/open-sans-v18-latin-regular.ttf') format('truetype'),
    url('./fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg');
}

/*
 * Normalize CSS
 */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
}

button, [type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[hidden] {
    display: none;
}

/*
 * Page specific styling
 */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body, html {
    height: 100%;
}

.no-scroll {
    overflow: hidden;
}

#outdated-browser-warning {
    padding: 1em;
    text-align: center;
    border: 2px solid red;
    font-weight: bold;
    font-size: 1.25em;
    display: none;
}

#parallax-header {
    background-image: url("./images/large/artbauhauss_header.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-text {
    text-align: center;
    padding-top: 150px;
}

@media (orientation: landscape) {
    #header-text {
        text-align: center;
        padding-top: 40px;
    }
}

#artist-name {
    font-size: min(12vw, 5em);
    font-weight: bold;
    padding-bottom: calc(min(12vw, 5em) / 3);
    margin: 0;
}

#full-name {
    font-size: min(10vw, 4em);
    padding-bottom: calc(min(12vw, 4em) / 2);
}

#header-menu {
    display: flex;
    justify-content: center;
}

#header-menu a {
    display: block;
    padding: 1em;
    font-size: min(6vw, 2em);
    font-weight: bold;
}

#header-menu a:hover {
    background-color: rgba(233, 233, 233, 0.5);
}

.centered-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.two-col-grid {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 1024px) {
    .two-col-grid {
        grid-template-columns: 1fr;
    }
}

#navbar {
    padding: 25px;
    background-color: white;
}

#navbar .two-col-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
}

#navbar a {
    display: block;
    float: left;
    padding: 10px;
}

#navbar a:hover {
    color: gray;
}

#home {
    justify-self: left;
}

#home a {
    font-size: 1.5em;
    font-weight: bold;
}

#menu {
    justify-self: right;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.sticky + main {
    padding-top: 92px;
}

section {
    margin-bottom: 40px;
}

.section-header {
    border-top: 1px solid lightgray;
    text-align: center;
    padding: 40px 0;
    margin: 0;
    font-size: 2em;
    color: gray;
}

.gallery-item {
    width: 90%;
    height: 90%;
    max-height: 500px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
}

.gallery-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

#portrait > img {
    cursor: default;
}

footer {
    border-top: 1px solid lightgray;
    padding: 30px 0;
}

footer .two-col-grid {
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

footer * {
    color: lightslategray;
}

#imprint a:hover, #imprint a:active {
    color: dimgray;
}

#fullscreen-viewer {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: white;
    display: flex;
    flex-flow: column;
}

#fullscreen-navbar {
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
}

.fullscreen-button {
    border: none;
    background-color: white;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

#fullscreen-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    padding: 20px;
    overflow: auto;
    height: 100%;
}

#metadata > p {
    font-size: 1.25em;
}

#metadata * a {
    text-decoration: underline;
}

#fullscreen-carousel {
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
}

#go-to-previous-item, #go-to-next-item {
    width: 5%;
}

#artwork-image {
    max-width: 90%;
    object-fit: contain;
}

@media (max-width: 1024px) {
    #fullscreen-content {
        grid-template-columns: 1fr;
    }

    #go-to-previous-item, #go-to-next-item {
        display: none;
    }

    #fullscreen-carousel {
        justify-content: center;
        overflow: visible;
    }

}

#info-content a {
    text-decoration: underline;
}

#about-me {
    font-size: 1.2em;
    grid-area: about;
    text-align: justify;
}

#portrait {
    max-width: 400px;
    max-height: 500px;
    width: auto;
    height: auto;
    grid-area: portrait;
}

#contact {
    grid-area: contact;
}

.contact-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.contact-icon {
    width: 29px;
    height: 29px;
}

#exhibitions {
    grid-area: exhibitions;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

#info-content {
    align-items: start;
    justify-items: left;
    padding: 20px;
    line-height: 1.5em;
    grid-template-areas: "about portrait" "exhibitions contact"
}

@media (max-width: 1024px) {
    #info-content {
        grid-template-areas: "portrait" "about" "exhibitions" "contact"
    }
}

/*
 * Spinner when loading images
 * credits: https://projects.lukehaas.me/css-loaders/ under MIT license
 */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: darkorange;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}