@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
    url('./fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
    url('./fonts/open-sans-v18-latin-regular.woff') format('woff'),
    url('./fonts/open-sans-v18-latin-regular.ttf') format('truetype'),
    url('./fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg');
}

/*
 * Normalize CSS
 */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
}

button, [type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[hidden] {
    display: none;
}

/*
 * Page specific styling
 */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

body, html {
    height: 100%;
}

h1 {
    font-size: min(12vw, 5em);
    font-weight: bold;
    margin: 0;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 1em 0;
}

.no-scroll {
    overflow: hidden;
}

#parallax-header {
    background-image: url("./images/large/artbauhauss_header.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 150px;
    flex-direction: column;
    align-items: center;
}

@media (max-device-height: 400px) {
    #parallax-header {
        padding: 0;
        justify-content: center;
    }
}

#header-menu {
    display: flex;
}

#header-menu a, #fullscreen-menu a {
    display: block;
    padding: 1em;
    font-size: min(6vw, 2em);
    font-weight: bold;
}

#header-menu a:hover, #fullscreen-menu a:hover {
    background-color: rgba(233, 233, 233, 0.5);
}

.centered-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 50px;
}

@media (min-width: 1024px) {
    .row > :nth-child(odd) {
        margin-right: 100px; /* column-gap for .row is not yet supported well enough, especially Safari */
    }
}

.column {
    width: 50%;
    max-width: 500px;
    margin-bottom: 50px;
}

#navbar {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#navbar a {
    display: block;
    float: left;
    padding: 10px;
}

#navbar a:hover {
    color: gray;
}

#home a {
    font-size: 1.5em;
    font-weight: bold;
}

#menu {
    justify-self: right;
}

#fullscreen-menu {
    list-style-type: none;
    padding: 20px;
}

.burger {
    display: none;
    width: 35px;
    cursor: pointer;
}

.burger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

section {
    padding: 0 30px 30px 30px;
    scroll-margin-top: 3em;
    scroll-snap-margin-top: 3em; /* Safari uses non standard name */
}

#gallery {
    justify-content: center;
}

.gallery-item {
    max-height: 500px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

footer {
    border-top: 1px solid lightgray;
    padding: 30px;
    align-items: center;
}

footer * {
    color: lightslategray;
}

#imprint a:hover, #imprint a:active {
    color: dimgray;
}

.fullscreen-viewer {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: white;
    display: flex;
    flex-flow: column;
}

.fullscreen-navbar {
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
}

.fullscreen-button {
    border: none;
    background-color: white;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

#gallery-item-details {
    display: flex;
    padding: 10px;
    overflow: auto;
    height: 100%;
}

#metadata {
    width: 50%;
}

#metadata > p {
    font-size: 1.25em;
}

#metadata * a {
    text-decoration: underline;
}

#gallery-carousel {
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
}

#go-to-previous-item, #go-to-next-item {
    width: 5%;
    font-weight: bold;
}

#artwork-image {
    max-width: 90%;
    object-fit: contain;
}

#about-content {
    justify-content: center;
}

#about-content a {
    text-decoration: underline;
}

#about-me {
    font-size: 1.2em;
    text-align: justify;
}

#portrait > img {
    cursor: default;
}

.contact-option {
    display: flex;
    align-items: center;
    padding: 10px;
}

.contact-icon {
    margin-right: 10px;
    width: 29px;
    height: 29px;
}

@media (max-width: 600px) {
    #parallax-header {
        background-image: url("./images/large/artbauhauss_header-slim.jpg");
    }
}

@media (max-width: 1024px) {
    #menu, #header-menu {
        display: none;
    }

    .column {
        width: 100%;
        max-width: none;
    }

    .burger {
        display: block;
    }
    
    #go-to-previous-item, #go-to-next-item {
        display: none;
    }

    #gallery-item-details {
        flex-wrap: wrap;
    }

    #gallery-carousel {
        justify-content: center;
        overflow: visible;
    }

    #metadata {
        width: 100%;
    }

    #metadata > p {
        margin: 0;
        padding-top: 0.5em;
    }
    

    #portrait {
        order: 1
    }

    #about-me {
        order: 2
    }

    
}

/*
 * Spinner when loading images
 * credits: https://projects.lukehaas.me/css-loaders/ under MIT license
 */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: darkorange;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}